<svg width="960px" height="500px" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <foreignObject width="100%" height="100%">

        <!-- HTML begin -->
        <div class="parallaxBackground3"
             data-0="background-position:0px 0px;"
             data-2000="background-position:-1000px 0px;">
        </div>

        <div class="parallaxForeground3"
             data-0="left:0px"
             data-1800="left:-7600px">
        </div>
        <!-- HTML end -->

    </foreignObject>
</svg>