.parallaxBackground2 {
    width:1300px;
    height:2200px;
    background: url('../../../img/moondrawing.jpg');
    display:block;
    z-index:-1;
    margin:-20px 0 0 -20px;
    float:left;
}

.parallaxForeground2 {
    width:960px;
    position: absolute;
}

.parallaxForeground2 p {
    font:normal normal bold 32px courier;
    margin:20px auto;
    width:600px;
    padding:20px;
    background: #ddd;
    opacity: 0.8;
    cursor: pointer;
}

.port {
    position: relative;
    z-index: 1;
}

.visualizationContainer {
    height:auto;
    padding:0;
}

#visualization {
    height: auto;
}